In [1]:
# Lists and Tuples --- understanding structures and their functions
# --- ordered
# --- immutable(unchangeble)
# --- duplicate values allowed
# --- can be of any data type.
# --- represented by ()
# --- does not support item assignment

# creating python tuples

sample = (1,2,3,"apple",2.3)     # all are objects of respective data type
print(sample)
print(type(sample))
print("value in sample[0]",sample[0])

(1, 2, 3, 'apple', 2.3)
<class 'tuple'>
value in sample[0] 1

In [5]:
print(type(sample))
print("value in sample[3]",sample[3])

<class 'tuple'>
value in sample[3] apple

In [9]:
# tuple object does not support item assignment

# sample = (1,2,3,"apple",2.3)
# sample[0] = 5    # tuple object does not support item assignment

In [11]:
# negative indexing

sample = (1,2,3,"apple",2.3)
print(sample[-1])

2.3

In [21]:
# print 2 to apple
sample = (1,2,3,"apple",2.3)
print(sample[-4:-1])

(2, 3, 'apple')

In [23]:
t = 1,2,3,4    # not inside() but still its type is tuple.
type(t)

tuple

In [33]:
# nesting of tuples

var1 = (10,20,30)
var2 = (var1,40)
var3 = (var1,var2,50,60)
print(var3)
print(var2)

print(var2[0][1])   # accessing nested tuple 20
print(var2[0])
print(var2[1])
print(var2[0][2])

((10, 20, 30), ((10, 20, 30), 40), 50, 60)
((10, 20, 30), 40)
20
(10, 20, 30)
40
30

In [31]:
print(var2[0][1])   # accessing nested tuple 20
print(var2[0])
print(var2[1])
print(var2[0][2])

20
(10, 20, 30)
40
30

In [37]:
# slicing of tuple

tuple1 = (1,2,3,4)
print(tuple1[1:])
print(tuple1[::-1])   # for reverse ::-

(2, 3, 4)
(4, 3, 2, 1)

In [39]:
t = tuple1[0:1] + tuple1[3:]  # slicing of the tuple
print(t)

(1, 4)

In [41]:
# deleting tuple

#del tuple1
tuple1 = (1,2,3,4)
print(tuple1)

(1, 2, 3, 4)

In [43]:
# deleting a tuple
del(tuple1)

In [47]:
# typecast tuple to list and then back to the tuple

x = ("apple","banana","cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)
print(y)

('apple', 'kiwi', 'cherry')
['apple', 'kiwi', 'cherry']

In [51]:
# typecasting converting a tuple insto list

list1 = [0,1,2]   # type list
print(tuple(list1))  # typecasting --- converting list to a tuple
print(tuple('python'))

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')

In [53]:
# exercise
# if want to check whether two tuples are equal or not

t1 = (3,8,7)
t2 = (5,7,9)
if t1 == t2:
    print("t1 and t2 are same")
else:
    print("t1 and t2 are not same")

t1 and t2 are not same

In [55]:
# check 9 is in the tuple

t3 = (5,8,9,"vadapav","tea",True)
if 9 in t3:
    print(" 9 is present in the tuple")
else:
    print(" 9 is not present in the tuple")

 9 is present in the tuple

In [57]:
# concatenation of tuple

sample = (1,2,3,"apple",2.3)
tuple1 = ("data scientist", "apoorva")
tuple2 = sample + tuple1
print(tuple2)

(1, 2, 3, 'apple', 2.3, 'data scientist', 'apoorva')

In [59]:
# use of zip() and list of tuples

names = ['urvashi','prasanna','gayatri']
age = [23,78,12]
zip(names,age)

In [13]:
names = ['urvashi','prasanna','gayatri']
age = [23,78,12]
zip(names,age)
info = list(zip(names,age))
info

# Unzip the list of tuples into separate lists
unzipped_names = []
unzipped_age = []

# Loop through the zipped list and separate the names and ages
for person in info:
    unzipped_names.append(person[0])  # First element of the tuple (name)
    unzipped_age.append(person[1])    # Second element of the tuple (age)

# Print the unzipped lists
print("unzipped names:", unzipped_names)
print("unzipped age:", unzipped_age)
names = ['urvashi','prasanna','gayatri']
age = [23,78,12]
zip(names,age)

unzipped names: ['urvashi', 'prasanna', 'gayatri']
unzipped age: [23, 78, 12]

In [ ]:
# how to unzip???
# different list with different name

In [1]:
x = 2
y = 5
print(x * y + y)

15

In [3]:
x = 5
y = 0
x = x / y
print(x)

ZeroDivisionError: division by zero

In [5]:
a = '0'
b = 0
print(bool(a) + bool(b))

1

In [7]:
x = 1
y = 2
z = x + y * (x + 1) ** 2
print(z)

9

In [9]:
x = "100"
y = 10
print(int(x) + y)

110