In [1]:
# List operations
# List creation : creating a list with multiple distinct or duplicate element
#               : accessing element from multidimensional list
#               : getting the size of python list


name = ['ram', 'sham', 'mohit']
print(name)

['ram', 'sham', 'mohit']

In [7]:
# creation of list
# empty list

my_list = []
number = [1,2,4,9]
string = ['ram', 'sham', 'rohit']
mixed_list = [1,2,3,4,'data',[4,2,['sita','gita']],3.14]       # list inside a list
type(my_list)

list

In [9]:
print(mixed_list)

[1, 2, 3, 4, 'data', [4, 2, ['sita', 'gita']], 3.14]

In [15]:
# indexing list-----.index()

marks = [98,86,79,80]
marks.index(79)
# print(marks)

2

In [21]:
number = [5,10,15,20,25]
# number.index(25)
print(number[4])
print(number[-2])      # negative index

25
20

In [23]:
# slicing list
# start index(inclusive) : end index(exclusive) : step

numbers = [1,2,3,4,9,7,8]
print(numbers[:6])
print(numbers[2:5])
print(numbers[-3:-1])

[1, 2, 3, 4, 9, 7]
[3, 4, 9]
[9, 7]

In [27]:
# list method 
# append()  method --- element can added to the list by using the built in function.only one
#                      element at a time can be added to the list by using append() method.
# syntax : list_name.append(not implemented)

name = ['sita','ram','sham']
name.append('gita')
name

['sita', 'ram', 'sham', 'gita']

In [29]:
fruits = ['apple', 'mango', 'grapes']
fruits.append(['banana','choco'])
fruits

['apple', 'mango', 'grapes', ['banana', 'choco']]

In [33]:
# insert method
# syntax : list_name.insert(position,elements)

fruits = ['apple','mango','pineapple']
fruits.insert(2,'gauva')
fruits

['apple', 'mango', 'gauva', 'pineapple']

In [37]:
x = [2,4,6,10]
x.insert(3,7.1)
x.insert(3,[8,9])
x

[2, 4, 6, [8, 9], 7.1, 10]

In [39]:
# extend() method ---- other than append() and insert() method, there one more method for addition of elements, 
#                      extend(), this method is use to add multiple elements at the same time at the end of the list.
# syntax : list_name.extend([element1,element2,....])


fruits = ['apple','mango','pineapple']
fruits.extend(['gauve','orange'])
fruits

['apple', 'mango', 'pineapple', 'gauve', 'orange']

In [41]:
# remove() method
# note --- remove method in list will only remove the first occurance of  this search elements.
# syntax : list_name.remove(elements)


fruits = ['apple','mango','pineapple','apple','orange']
fruits.remove('apple')
fruits

['mango', 'pineapple', 'apple', 'orange']

In [43]:
# pop() method --- pop function can also be use to remove and return an elements from the list, but by defualt it 
#                  remove only the last element of the list, to remove an element from the specific postion of the list, 
#                  the index of the element is pass an argument to the pop method
# syntax : list_name.pop() ---- last element
#          list_name.pop(position) ---- position element


x = [2,4,6,8,10]
x.pop()
x

[2, 4, 6, 8]

In [45]:
x.pop(3)

8

In [47]:
# reversing list
# syntax : list_name.reverse()

fruits = ['apple','mango','banana','grapes']
fruits.reverse()
fruits

['grapes', 'banana', 'mango', 'apple']

In [49]:
# len function

fruits = ['apple','mango','banana','grapes']
print(len(fruits))

4

In [51]:
# clear

fruits = ['apple','mango','banana','grapes']
fruits.clear()
fruits

[]

In [53]:
# sort --- assending order

number = [83,98,3,7,54,35,8]
number.sort()
number

[3, 7, 8, 35, 54, 83, 98]

In [55]:
# reverse sort --- decending order

number = [83,98,3,7,54,35,8]
number.sort(reverse = True)
number

[98, 83, 54, 35, 8, 7, 3]

In [57]:
mixed_list = ['vadapav','dosa','chocolate','chat','#','?']
mixed_list.sort()
mixed_list

['#', '?', 'chat', 'chocolate', 'dosa', 'vadapav']

In [59]:
mixed_list = ['vadapav','dosa','chocolate','chat','#','?']
mixed_list.sort(reverse = True)
mixed_list

['vadapav', 'dosa', 'chocolate', 'chat', '?', '#']

In [ ]:
# list support item assignment

veg =