In [ ]:
# sets
# no duplicate elements
# an unorderd collection. when we access all items, they are accessed without any specific order and we cannot access 
# items using indexes as we do in lists. internally use hashing that makes set efficient for search. insert and delete operations
# mutable,meaning we can add or remove elements after their creation, the individual elements within the set cannot be changed directly.
# note: an empty set cannot be created with curly braces{}.
# for set we use curly braces{}.

In [1]:
s = {}
type(s)

dict

In [3]:
# create an empty set
empty_set = set()
type(empty_set)

set

In [5]:
s = {10,50,20}
print(s)
print(type(s))

{10, 50, 20}
<class 'set'>

In [7]:
s = {10,50,20,50,20,30}
print(s)
print(type(s))

{10, 50, 20, 30}
<class 'set'>

In [9]:
# type casting with python set method
s = set(["a", "b", "c"])
print(s)

{'b', 'a', 'c'}

In [11]:
# adding element to the set
s.add("d")
print(s)

{'d', 'b', 'a', 'c'}

In [17]:
# python program to demonstrate that a set cannot have duplicate values and we cannot change its items
# a set cannot have duplicate values
s = {"data", "science", "data", "structure"}
print(s)

# values of a set cannot be changed.
# s[1] = "hello"
# print(s)                # typeerror: "set object does not support item assignment".

{'science', 'data', 'structure'}

In [19]:
# python example demonstrate that a set
# can store heterogeneous elements.(different types of elements)
s = {"greeks", "for", 10, 52.7, True}
print(s)

{True, 52.7, 'greeks', 10, 'for'}

In [ ]:
# Adding and removing elements from the sets
# functions
# add() : adds a given element to a set
# clear() : removes all elemets from the set
# discard() : removes the elemet from the set
# pop() : returns and removes a random element from the set
# remove() : removes the specified element from the set
# if element is missing in remove() -- it rises keyerror but in discard -- it does nothing(no error)

In [21]:
# set of letters
s = {'g', 'e', 'k', 's'}

# adding 's'
s.add('f')
print('set after updating:', s)

set after updating: {'g', 'e', 'f', 's', 'k'}

In [23]:
s = {'g', 'e', 'k', 's'}
# discarding element from the set( if any element not present still it does not show error)
s.discard('e')
print('set after updating:', s)

set after updating: {'k', 'g', 's'}

In [27]:
s = {'g', 'e', 'k', 's'}
# removing element from the set
s.remove('g')
print('\nset after updating:', s)

set after updating: {'e', 'k', 's'}

In [73]:
# s = {'g', 'e', 'k', 's'}
# # removing element from the set
# s.remove('u')
# print('\nset after updating:', s)

In [31]:
s = {'g', 'e', 'k', 's'}
# popping elements from the set
print(s.pop())
# print('set after updating:', s)

e

In [33]:
s.clear()
print('\nset after updating:', s)

set after updating: set()

In [ ]:
# update()
# the update() method for sets is used to add elements from another set, list, tuple, or any iterable to the set
# syntax -- set.update(*others)
# it helps to add multiple elemets *others: this can be one or more iterables.
# duplicate elements are ignored because sets only store unique elements

In [35]:
# example when we are adding element using add

# sample = {2,3,5}
# sample.add([3,4])
# print(sample)     # typerror: unhasheble type: 'list'

sample = {2,3,4}
sample.add((3,5))
print(sample)        # since tuple is immutable so it has added but as one element in same index

{2, 3, 4, (3, 5)}

In [37]:
# example of adding element using update()
sample = {2,3,4}
sample.update([8,9])
print(sample)      # by using update we have added different element

{2, 3, 4, 8, 9}

In [39]:
sample = {2,3,4}
sample.update([True,9.3])
print(sample)

{True, 2, 3, 4, 9.3}

In [47]:
sample = {2,3,4}
sample2 = {3,5,6}
sample.update(sample2)
print(sample)

{2, 3, 4, 5, 6}

In [ ]:
# union()
# union of A and B is a set of all elements from both sets
# also denoted by the operator (|)

In [49]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# intersection()
# intersection() method returnd the intersection(commom) of two sets
# also denoted by the operator (&)
# intersection of A and B is a set of elements that are common in both the sets

In [53]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A.intersection(B)

{4, 5}

In [55]:
A & B

{4, 5}

In [ ]:
# difference()
# difference() method returns the difference of two sets
# also denoted by the operator (-)
# return a new set with elements in the set that are not in the others

In [57]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A.difference(B)

{1, 2, 3}

In [59]:
A - B

{1, 2, 3}

In [ ]:
# symmetric_difference()
# denoted by the operator(^)
# symmetric_difference() method returns all the elements without the intersection
# the symmetric difference between two sets is the set of all the elements that are either in the first set or the second set but not in both

In [71]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [69]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [67]:
# printing intersection without using . intersection operator
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print((B|A) -(A^B))

# (B|A) = {1,2,3,4,5,6,7,8}
# (A^B) = {1,2,3,6,7,8}
# (B|A)-(A^B)= {1,2,3,4,5,6,7,8} - (1,2,3,6,7,8}
# (B|A)-(A^B)= {4,5}

{4, 5}

In [ ]:
# frozensets
# a frozenset is like a set, but its immutable(cant be changed after creation)
# useful when you need a set as a dictionary key or  want to ensure the set stays constant
# syntax : frozenset(iterable_object_name)

In [75]:
# pyhton program to demonstrate differences
# between normal and frozenset

# same as {"a", "b", "c"}
s = set(["a", "b", "c"])
print("normal set")
print(s)

normal set
{'b', 'a', 'c'}

In [79]:
# frozenset
fs = frozenset(["e", "f", "g"])
print("\nfrozen set")
print(fs)

# uncommenting below line would cause error as we are trying to add element to a frozenset
# fs.add("h")

frozen set
frozenset({'e', 'f', 'g'})

In [81]:
animals = frozenset(["cat", "dog", "lion"])
print("cat" in animals)
print("elephant" in animals)

True
False

In [85]:
# initialize A and B
A = frozenset([1,2,3,4])
B = frozenset([3,4,5,6])

# copying a frozenset
C = A.copy()
print(C)

# union
union_set = A.union(B)
print(union_set)

# intersection
intersection_set = A.intersection(B)
print(intersection_set)

# difference
difference_set = A.difference(B)
print(difference_set)

# symmetric_difference
symmetric_difference_set = A.symmetric_difference(B)
print(symmetric_difference_set)

frozenset({1, 2, 3, 4})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2})
frozenset({1, 2, 5, 6})